@model List<webMVC1.EF.Menu>




@{
    var session = (UserLogin)Session[webMVC1.Common.CommonContanst.USER_SESSION];
}

@if (Session[webMVC1.Common.CommonContanst.USER_SESSION] == null)
{
    <ul>
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a href="@item.Link"  class="nav-link active" target="@item.Target">
                    @item.Text
                </a>
            </li>
        }
    </ul>
}
else
{
    <ul><li>hello: @session.UserName</li></ul>
    <hr>
    <ul><li>@Html.ActionLink("Logout","Logout","Users")</li></ul>
}

