@model List<webMVC1.EF.Product>
@{
    var category = (webMVC1.EF.Categorys)ViewBag.Category; ;
    Layout = "~/Views/Shared/_TLayout.cshtml";
    var cate = (List<webMVC1.EF.Categorys>)ViewBag.cate;
}
<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Menu</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Menu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<section class="dishes-area pt-100 pb-70">
    <div class="container-fluid p-0">
        <section class="dishes-area pt-100 pb-70">
            <div class="container-fluid p-0">
                <div class="section-title">
                    <h2>Popular Dishes</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <hr />

                <nav style="background-color:#dcabb2" class="navbar navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <div class="container">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    @foreach (var item in cate)
                                    {
                                        <li class="btn btn-light"> <a class="nav-link active" style="color:burlywood" href="@item.MetaKeywords-@item.ID">@item.Name</a></li>
                                    }
                                </ul>
                            </nav>
                        </div>

                    </div>
                </nav>

                <hr />
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav">


                                    <li class="nav-item">
                                        <h3>Product Portfolio: @category.Name</h3>
                                    </li>


                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <hr />
                <div class="row">

                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-sm-6">
                            <div class="dishes-item">
                                <div class="image">
                                    <a href="/them-gio-hang?productID=@item.ID&quantity=1">
                                        <img width="300" src="/Content/Image/@item.Images" alt="image">
                                    </a>
                                </div>

                                <div class="content">
                                    <h3>
                                        <a href="//them-gio-hang?productID=@item.ID&quantity=1">@item.Name</a>
                                    </h3>
                                    <span>$@(item.Price.HasValue?item.Price.Value.ToString("N0"):"lien he")</span>
                                    <hr style="background-color:antiquewhite" />
                                    <span>@item.DesCription</span>
                                    <div class="dishes-btn">
                                        <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="default-btn">Add To Cart</a>
                                        |
                                        <a href="/chi-tiet/@item.ID" class="btn btn-primary">View Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.Maxpage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = ((int)ViewBag.Page);

                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);
                var link = "/Menu/" + category.MetaKeywords + "-" + category.ID;
                <div class="container" >
                    <div class="row">
                        <nav aria-label="Page navigation example" style="padding:10px;width:100px;margin:1px unset;">
                            <ul class="pagination justify-content-end">
                                @if (currentPage > ViewBag.First)
                                {
                                    <li class="page-item disabled">
                                        <a  href="@link?page.Firt" title="Front Pages" class="firt"><i class="fa fa-angel-double-left"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a href="@link&page.Prev" title="Front" class="prev"><i class="fa fa-angel-left"></i></a>
                                    </li>
                                }
                                @for (int i = startPageIndex; i <= endPageIndex; i++)
                                {
                                    if (currentPage == i)
                                    {
                                        <li class="page-item">
                                            <a href="@link?page=@i" class="active" title="Pages @i">@i</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a href="@link?page=@i" class="pos" title="Pages @i">@i</a>
                                        </li>
                                    }
                                }
                                @if (currentPage < totalPage)
                                {

                                    <li class="page-item">
                                        <a href="@link?page=@ViewBag.Next" class="next" title="First Pages"><i class="fa fa-angel-right"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a href="@link?page=@ViewBag.Last" class="last" title="Last Pages"><i class="fa fa-angel-double-right"></i></a>
                                    </li>
                                }

                            </ul>
                        </nav>
                    </div>
                </div>
            }
            else
            {
                <span style="background-color:antiquewhite; width:400px;  height:200px">No Products</span>



            }
        </section>
    </div>
</section>