@model webMVC1.EF.Product
@{
    Layout = "~/Views/Shared/_TLayout.cshtml";
    var category = (webMVC1.EF.Categorys)ViewBag.Category;
    var ourchef = (List<webMVC1.EF.OurChefs>)ViewBag.OurChef;
    var product = (List<webMVC1.EF.Product>)ViewBag.pro;
    var cate = (List<webMVC1.EF.Categorys>)ViewBag.cat;


}

<!-- Start Page Banner -->
<div class="page-title-area item-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Blog Details</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Blog Details Area -->
<section class="blog-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="/Content/Image/@Model.Images" alt="image">
                    </div>
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                <li>
                                    <span>Posted On:</span>
                                    <p>@Model.CreateDate</p>
                                </li>
                                <li>
                                    <span>Posted By:</span>
                                    <p>@Model.CreateBy</p>
                                </li>
                            </ul>
                        </div>
                        <h3>@Model.MetaTitle</h3>
                        <p>@Model.DesCription</p>
                        <blockquote class="wp-block-quote">
                            <p>@Model.MetaDescriptions</p>
                        </blockquote>
                        <p>@Model.Detail</p>
                        <ul class="wp-block-gallery columns-3">
                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="~/Content/Image/products1.jpg" alt="image">
                                </figure>
                            </li>

                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="~/Content/Image/products2.jpg" alt="image">
                                </figure>
                            </li>

                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="~/Content/Image/products3.jpg" alt="image">
                                </figure>
                            </li>
                        </ul>
                        <h3>Our Special Menu:</h3>
                        <ul class="features-list">
                            <li>
                                <i class="las la-check"></i>
                                Scientific Skills For getting a better result
                            </li>
                            <li>
                                <i class="las la-check"></i>
                                Communication Skills to getting in touch
                            </li>
                            <li>
                                <i class="las la-check"></i>
                                A Career Overview opportunity Available
                            </li>
                            <li>
                                <i class="las la-check"></i>
                                A good Work Environment For work
                            </li>
                        </ul>
                        <h3>The Rise Of Marketing And Why You Need It</h3>
                        <p>@Model.MetaDescriptions</p>
                    </div>

                    <div class="article-footer">
                        <div class="article-tags">
                            <span>
                                <i class="las la-bookmark"></i>
                            </span>
                            <a href="/">Business</a>,
                            <a href="/">Construction</a>
                        </div>

                        <div class="article-share">
                            <ul class="social">
                                <li><span>Share:</span></li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="lab la-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="lab la-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="lab la-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h3 class="comments-title">4 Comments:</h3>
                        <ol class="comment-list">
                            <li class="comment">
                                @foreach (var item in ourchef)
                                {
                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img src="/Content/OurChef/@item.Image" class="avatar" alt="image">
                                            <b class="fn">@item.Name</b>
                                            <span class="says">says:</span>
                                        </div>
                                        <div class="comment-metadata">
                                            <a href="/">
                                                <time>@item.CreateDate</time>
                                            </a>
                                        </div>
                                    </footer>
                                    <div class="comment-content">
                                        <p>@item.Descripton</p>
                                    </div>
                                    <div class="reply">
                                        <a href="/bao-loi" class="comment-reply-link">Reply</a>
                                    </div>
                                </article>
                                }
                            </li>
                        </ol>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">
  

                    <section class="widget widget_vizo_posts_thumb">
                        <h3 class="widget-title">Popular Posts</h3>
                        @foreach (var item in product)
                        {
                        <article class="item">
                            <a href="/chi-tiet/@item.ID" class="thumb">
                                <span class="fullimage cover bg1" role="img"></span>
                            </a>
                            <div class="info">
                                <time class="2020-06-30">@item.CreateDate</time>
                                <h4 class="title usmall">
                                    <a href="/chi-tiet/@item.ID">@item.MetaTitle</a>
                                    <a href="/them-gio-hang?productID=@item.ID&quantity=1">Add Cart</a>
                                </h4>
                            </div>
                        </article>
                        }
                    </section>

                    <section class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            
                            <li>
                                <a href="/menu/@category.MetaKeywords-@category.ID">@category.Name</a>
                            </li>

                        </ul>
                    </section>
                    <section class="widget widget_tag_cloud">
                        <h3 class="widget-title">Tags</h3>
                        <div class="tagcloud section-bottom">
                            @foreach (var item in cate)
                            {
                            <a href="/menu/@item.MetaKeywords-@item.ID">@item.Name</a>
                            }
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->
