@model List<webMVC1.Models.ProductView>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_TLayout.cshtml";
}
<!-- Start Main Banner Area -->
<div class="main-banner">
    <div class="main-banner-item item-two">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="main-banner-content">
                                <h1>It’s About Good Food & Fresh Ingredients</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  incididunt labore  dolore magna aliqua.</p>
                                <div class="banner-btn">
                                    <a href="menu" class="default-btn">
                                        View Our Menu
                                    </a>
                                    <a href="gio-hang" class="default-btn-two">
                                        Cart
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="banner-image">
                                <img src="/Content/User/assets/img/banner-image.png" alt="image">

                                <div class="offer-text">
                                    <h4>50%</h4>
                                    <span>Off</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->
<section class="dishes-area pt-100 pb-70">
    <div class="container-fluid p-0">
        <section class="dishes-area pt-100 pb-70">
            <div class="container-fluid p-0">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <h3>Serach Results: @ViewBag.keyword</h3>
                            </li>
                        </ul>
                    </div>
                </nav>
                <hr />
                @if (Model.Count > 0)
                {
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-sm-6">
                                <div class="dishes-item">
                                    <div class="image">
                                        <a href="/them-gio-hang?productID=@item.ID&quantity=1">
                                            <img src="/Content/Image/@item.Images" alt="image">
                                        </a>
                                    </div>

                                    <div class="content">
                                        <h3>
                                            <a href="/them-gio-hang?productID=@item.ID&quantity=1">@item.Name</a>
                                        </h3>
                                        <span>
                                            @item.MetaTitle
                                        </span>
                                        <span>@(item.Price.HasValue?item.Price.Value.ToString("N0"):"lien he")</span>

                                        <div class="dishes-btn">
                                            <a href="/gio-hang?/@item.ID" class="default-btn">Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    if (ViewBag.TotalPage > 1)
                    {
                        var pageDisplay = (int)ViewBag.Maxpage;
                        int totalPage = (int)ViewBag.TotalPage;
                        int currentPage = ((int)ViewBag.Page);

                        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);
                        var link = "/tim-kiem?keyword=" + ViewBag.keyword;
                        <div class="paging">
                            @if (currentPage > ViewBag.Firt)
                            {
                                <a href="@link&page.Firt" title="trang dau" class="firt"><i class="fa fa-angel-double-left"></i></a>
                                <a href="@link&page.Prev" title="trang truoc" class="prev"><i class="fa fa-angel-left"></i></a>
                            }
                            @for (int i = startPageIndex; i <= endPageIndex; i++)
                            {
                                if (currentPage == i)
                                {
                                    <a href="@link&page=@i" class="active" title="trang @i">@i</a>
                                }
                                else
                                {
                                    <a href="@link&page=@i" class="pos" title="trang @i">@i</a>
                                }
                            }
                            @if (currentPage < totalPage)
                            {


                                <a href="@link&page=@ViewBag.Next" class="next" title="trang sau"><i class="fa fa-angel-right"></i></a>
                                <a href="@link&page=@ViewBag.Last" class="last" title="trang cuoi"><i class="fa fa-angel-double-right"></i></a>
                            }

                        </div>
                    }
                }
                else
                {
                    <span>khong co ban  ghi</span>
                }
            </div>

        </section>
    </div>
</section>
