@{

    Layout = "~/Views/Shared/_TLayout.cshtml";
    var listfooter = (List<webMVC1.EF.Product>)ViewBag.footer;
    var OurchefT = (List<webMVC1.EF.OurChefs>)ViewBag.ourchefT;
    var Ourchef = (List<webMVC1.EF.OurChefs>)ViewBag.ourchef;
    var OurchefA = (List<webMVC1.EF.OurChefs>)ViewBag.ourchefA;
    var About = (List<webMVC1.EF.About>)ViewBag.about;
}

<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>About Us</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container">
        @foreach (var item in OurchefT)
        {
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3>All are Good Taste Food with Vizo Bistro</h3>
                        <p>@item.Descripton</p>

                        <div class="signature">
                            <h4>@item.Name</h4>
                            <span>@item.office</span>
                            <img src="/Content/assets/img/signature.png" alt="image">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="/Content/OurChef/@item.Image" alt="image">
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- End About Area -->
<!-- Start Overview Area -->
<section class="overview-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>What We Offer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="overview-item">
                    <img src="/Content/assets/img/overview/overview1.png" alt="image">

                    <div class="content">
                        <h3>Breakfast</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="overview-item">
                    <img src="/Content/assets/img/overview/overview2.png" alt="image">

                    <div class="content">
                        <h3>Lunch</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="overview-item">
                    <img src="/Content/assets/img/overview/overview3.png" alt="image">

                    <div class="content">
                        <h3>Dinner</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Overview Area -->
<!-- Start Team Area -->
<section class="team-area bg-ffffff pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Chefs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            @foreach (var item in Ourchef)
            {


                <div class="col-lg-4 col-md-6">
                    <div class="single-team">
                        <div class="image">
                            <img src="/Content/OurChef/@item.Image" alt="image">

                            <ul class="social">
                                <li>
                                    <a href="@item.LinkFb" target="_blank">
                                        <i class="lab la-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@item.LinkSwithter" target="_blank">
                                        <i class="lab la-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@item.LinkInstagam" target="_blank">
                                        <i class="lab la-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@item.LinkInstagam" target="_blank">
                                        <i class="lab la-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="content">
                                <h3>@item.Name</h3>
                                <span>@item.office</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- End Team Area -->
<!-- Start Testimonial Area -->
<section class="testimonial-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Testimonials</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="testimonial-slider owl-carousel owl-theme">
            @foreach (var item in OurchefA)
            {


                <div class="testimonial-item">
                    <div class="info">
                        <img src="/Content/OurChef/@item.Image" alt="image">
                        <h3>@item.Name</h3>
                        <span>@item.office</span>
                    </div>
                    <div class="text">
                        <p>@item.Descripton</p>
                    </div>

                    <div class="icon">
                        <i class="flaticon-right-quotes-symbol"></i>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- End Testimonial Area -->
<!-- Start Choose Area -->
<section class="choose-area pt-100">
    <div class="container">
        <div class="section-title">
            <h2>Why People Choose Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        @foreach (var item in About)
        {
            <div class="choose-slider owl-carousel owl-theme">
                <div class="choose-item">
                    <div class="icon">
                        <i class="las la-tag"></i>
                    </div>
                    <h3>@item.Name</h3>
                    <p>@item.DesCription</p>
                </div>
            </div>
        }
    </div>
</section>
<!-- End Choose Area -->
<!-- Start Dishes Area -->
<section class="dishes-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Popular Dishes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row">
            @foreach (var item in listfooter)
            {


                <div class="col-lg-4 col-md-6">
                    <div class="dishes-item">
                        <div class="image">
                            <a href="#">
                                <img src="/Content/Image/@item.Images" alt="image">
                            </a>
                        </div>

                        <div class="content">
                            <h3>
                                <a href="#">@item.Name</a>
                            </h3>
                            <span>@item.MetaTitle</span>

                            <div class="dishes-btn">
                                <a href="cart" class="default-btn">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- End Dishes Area -->
