@model List<webMVC1.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TLayout.cshtml";
}

@section jsFooter{
    <script src="/Content/User/assets/js/controller/cartController.js"></script>
}

<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Cart</h2>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Cart Area -->
<section class="cart-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form>
                    <div class="cart-table table-responsive">
                        @if (Model.Count > 0)
                        {
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">product id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Image</th>
                                        <th scope="col"> Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Unit Price</th>
                                        <th scope="col">function</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Pro.ID</td>
                                            <td><a href="chi-tiet/@item.Pro.ID" class="btn-warning">@item.Pro.Name</a></td>
                                            <td><img width="120" src="/Content/Image/@item.Pro.Images" alt="Alternate Text" /></td>
                                            <td> $@item.Pro.Price.GetValueOrDefault(0).ToString("N0")</td>
                                            <td><input type="number" min="1" max="100" class="txtQuantity" data-id="@item.Pro.ID" value="@item.Quantity" /></td>
                                            <td>
                                                <select  name="@item.Size" class="form-control"  >
                                                    <option value="Size S">Size S</option>
                                                    <option value="Size M">Size M</option>
                                                    <option value="Size L">Size L</option>
                                                    <option value="Size XL">Size XL</option>
                                                </select>
                                            </td>
     
                                            <td style="padding:9px">$@((item.Pro.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                                            <td>
                                                <a href="#" data-id="@item.Pro.ID" class="btn-danger" onclick="return confirm('Are you sure?')">Delete<ion-icon name="trash-outline"></ion-icon></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="cart-buttons">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-sm-4 col-md-4 text-left">
                                        <button class="default-btn" type="button" id="btnCon">Continue Of Menu </button>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                                        <button class="default-btn" type="button" id="btnDeleteAll">Delete All </button>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 text-right">
                                        <button class="default-btn" type="button" id="btnUpdate">Update Cart</button>
                                    </div>
                                </div>
                            </div>
                            <!-- phieu thu -->
                            <div class="cart-totals">
                                <h3>Cart Totals</h3>
                                <ul>
                                    <li>
                                        Total
                                        <span><b>$@(Model.Sum(x=>x.Pro.Price*x.Quantity))</b></span>
                                    </li>
                                </ul>
                                <button class="default-btn" type="button" id="btnCheckout">Procced to CheckOut </button>
                            </div>
                        }
                        else
                        {
                            <div class="container">
                                <span class="input-group-text" id="basic-addon1">No products have bbeen added yet</span>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 text-left">
                                <button class="default-btn" type="button" id="btnCon">Continue Of Menu </button>
                            </div>
                        }
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Cart Area -->
